# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
.next/
out/
build/

# Environment files (NO SUBIR CREDENCIALES)
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# AWS
*.zip

# TypeScript
*.tsbuildinfo
next-env.d.ts

